# 若没有配置环境变量，请用百炼API Key将下行替换为：api_key="sk-xxx",
# 如何获取API Key：https://help.aliyun.com/zh/model-studio/developer-reference/get-api-key
BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
API_KEY=sk-xxx
# 模型列表：https://help.aliyun.com/zh/model-studio/getting-started/models
MODEL=qwen-plus
WEATHER_API_KEY=your_weather_api_key
WEATHER_API_URL=http://api.weatherapi.com/v1/current.json
# Embedding模型
EMBED_MODEL=path/to/embedding/model
# Rerank模型
RERANK_MODEL=path/to/rerank/model